<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
    <title>Haste Trading Company</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/css/logo.png" class="logo">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('news') }}">News</a></li>
                <li><a href="{{ url_for('partners') }}">Partners</a></li>
                <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="content">
            <h2>About Us</h2>
            <div>
                <img src="static\css/logo.png" width="400" height="200">
            </div>
            <p>
                &emsp; We are Haste. We are a trade company with an emphasis on fast growth and
                a stable develpment cycle to push out features that allow our product to
                grow. We have a dedicated team who are hard at work to bring our customer
                features that will satisfy them.<br>
                &emsp; Not too long ago, we were only a small team of three people working on a
                small project that we did not know will grow up to be what it is today. What was
                a small project back then now is a fast growing company with stockholders backing
                up our vision. We are looking to continue growing and improve our product.<br>
                &emsp; We hope to provide to you a "haste" epxerience when you buy our product and
                invest in us. Our backend team are always available to deal with any issues that
                might occur and making sure that your money is safe with us. We also committed to
                improving our technology to further increase efficiency of your product, resulting
                in increase growth and more returns for our customer ivesting in us.<br>
                &emsp; With that, we hope that you will continue to support us and our visions. If
                you are not already supporting us, we hope that we can convince you to give us a chance
                to make you money in the future.
            </p>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">
                    <button type="button"><span></span>LOGOUT</button>
                </a>
                <a href="http://www.fullerton.edu/">
                    <button type="button"><span></span>CONTACT US</button>
                </a>
                {% else %}
                <a href="{{ url_for('login') }}">
                    <button type="button"><span></span>LOGIN</button>
                </a>
                <a href="http://www.fullerton.edu/">
                    <button type="button"><span></span>CONTACT US</button>
                </a>
                {% endif %}
        </div>
    </div>
</body>
</html>