<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Log In</title>
</head>
<body>
    <div class = "content">
        <h1>Log In</h1>
        <form method="POST" action="">
           <!--<text>username: </text>-->
            {{ form.username }}
           <!-- <text>password: </text>-->
            {{ form.password }}
            {{ form.submit }}
            {{ form.hidden_tag() }}
        </form>

        <div class="signup"><a href="{{ url_for('register') }}">Don't have an account? Register</a></div>
        <!--<a href="{{ url_for('register') }}">Dont have account? Register</a>-->
    </div>
</body>
</html>