<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <title>Haste Trading Company</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/css/logo.png" class="logo">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('news') }}">News</a></li>
                <li><a href="{{ url_for('partners') }}">Partners</a></li>
                <li><a href="#">About Us</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="content">
            <hl>HASTE TRADING COMPANY NEWS</hl>
            <h2>We Are a Growing Company</h2>
            <p>
                Due to our recent success with the launch of the company, we have experience
                an increase in our stock. Our total net worth has gone up 20 percent. We are
                expecting another 5 percent increase in the next 2 months with our current
                roadmmap. By the end of this year, after our plan action items are implemented
                and published, we expect our company to be up atleast 10 percent in Q4.
            </p>
            <div>
                <img src="static\css/stock.png" width="200" height="200">
            </div>
            <h2>Recent Development</h2>
            <p>
                We recently updated our company website to have an invest feature for any user
                who are interested in investing and supporting what we do here at Haste. As
                you have read above, our company is still looking to grow and expand. We are
                eager to grow and excess expectation of our stockholder. Our dedicated team will
                implement even more features to help us grow together and bring profit to both
                parties.
            </p>
            <div>
                <img src="static\css/team.png" width="200" height="200">
            </div>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">
                    <button type="button"><span></span>LOGOUT</button>
                </a>
                <a href="http://www.fullerton.edu/">
                    <button type="button"><span></span>CONTACT US</button>
                </a>
                {% else %}
                <a href="{{ url_for('login') }}">
                    <button type="button"><span></span>LOGIN</button>
                </a>
                <a href="http://www.fullerton.edu/">
                    <button type="button"><span></span>CONTACT US</button>
                </a>
                {% endif %}
        </div>
    </div>
</body>
</html>